@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Honk&display=swap");

body {
  /* Define the background image */
  background-image: url("/public/tracker.jpg"),
    /* Image from the public directory */
      linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 137, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );

  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the image */
  background-blend-mode: luminosity; /* Blend the image with the gradient */
  background-attachment: fixed; /* Keep the background fixed while scrolling */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
